<form action="/products" method="post">
  <div class="">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name"/>
  </div>
  <div class="">
    <label for="price">Price: </label>
    <input type="price" name="price" id="price"/>
  </div>
  <div class="">
    <label for="quantity">Quantity: </label>
    <input type="quantity" name="quantity" id="quantity"/>
  </div>
  <div class="">
    <input type="submit" value="Create product" />
  </div>
</form>